@model  ErpWeb.Models.WhatsAppModel



<h4>>@Model.Titulo</h4>

<div class="panel-body">

    <iframe width="1280" height="720" src="@Model.URLWhatsAPP" frameborder="0" allowfullscreen></iframe>

    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsmartglossapage&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

    @*<iframe width="1280" height="720" src="https://www.youtube.com/embed/4u856utdR94" frameborder="0" allowfullscreen></iframe>*@

</div>
<div class="panel-footer">
    @*<span class="badge">@Model.Listagem.DadosApresentacao.Rows.Count</span><span> @Html.Raw(Model.Listagem.DadosApresentacao.Rows.Count > 1 ? "registros" : "registro")</span>*@
</div>
<

